.card {
    width: 190px;
    height: 254px;
    background: rgb(40,40,55);
    background: linear-gradient(344deg, #296093 0%, rgb(23, 23, 38) 0%);
    box-shadow: 4px 6px 14px #00000036;
    border-radius: 6px;
    color: #F9F9F9;
    padding: 16px;
    transition: all .3s;
   }
   .card:hover {
    margin-top: -10px;
   }
   
.card img {
    width: 70%;
    height: 50%;
    margin-top: 10px;
}
.card-text h2{
    font-size: 15px;
    color: rgb(228, 219, 219);
    text-decoration: none;
}
.type-text{
    font-size: 10px;
    text-decoration: none;
}